$def with (privData)
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>$:privData['NAME']</title>
    <link rel="stylesheet" href="$makeUrl('/static/admin/common.css')" />
    <link rel="stylesheet" href="$makeUrl('/static/admin/lrtk.css')" />
    <script src="$makeUrl('/static/jquery/jquery-1.9.1.min.js')"></script>
	<script src="$makeUrl('/static/jquery/jquery.validate.js')"></script>
	<script src="$makeUrl('/static/jquery/jquery.validate.min.js')"></script>
    <script src="$makeUrl('/static/admin/thumbnail.select.js')"></script>
    <script src="$makeUrl('/static/admin/categories.reload.js')"></script>
    <script src="$makeUrl('/static/admin/album.insert.js')"></script>
    <script src="$makeUrl('/static/admin/list.select.delete.js')"></script>
    <script src="$makeUrl('/static/admin/lrtk.js')"></script>
</head>
