$def with (privData)
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
$:privData['render'].header(privData)
<body>
$:privData['render'].pageheader(privData)

<h2>新增图片</h2>
<form action="/admin/upload/image" encType="multipart/form-data" method="post">
    <table width="750" border="0" cellspacing="0" cellpadding="1" class="addtable">
        <tr>
            <td width="100" scope="col">图片:</td>
            <td width="608" scope="col"><input name="file" type="file"/> <br /></td>
        </tr>

        <tr>
            <td width="100" scope="col">链接:</td>
            <td width="608" scope="col"><input name="ref" type="text"/></td>
        </tr>
        <tr>
            <td width="100" scope="col">缩略图宽度:</td>
            <td width="100" scope="col"><input type="text" name="thumbnail_width"/></td>
        </tr>
        <tr>
            <td width="100" scope="col">缩略图高度:</td>
            <td width="100" scope="col"><input type="text" name="thumbnail_height"/></td>
        </tr>
        <tr>
            <td width="100" scope="col">显示图宽度:</td>
            <td width="100" scope="col"><input type="text" name="image_width"/></td>
        </tr>
        <tr>
            <td width="100" scope="col">显示图高度:</td>
            <td width="100" scope="col"><input type="text" name="image_height"/></td>
        </tr>

        <tr>
            <td width="100" scope="col">描述:</td>
            <td width="608" scope="col"><textarea name="desc"></textarea></td>
        </tr>

        <tr>
            <td colspan="2" scope="col"><input type="submit" name="submit" value="保存" id="submits"/></td>
        </tr>
    </table>
</form>

</body>
</html>
