$def with (privData)
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
$:privData['render'].header(privData)
<body>
$:privData['render'].pageheader(privData)

<h2>图片列表</h2>
<table width="800" border="0" cellspacing="0" cellpadding="1" class="list">
<tr>
<td>
<a href="$makeUrl('/admin/images/add')">新增图片</a> 
</td>

<td align="right"> 
   <form id="searchForm" action="$makeUrl('/admin/images/search')" method="post" >
   <input type="text" id="keywords" name="keywords" placeholder="关键字..." value="">
    <input id="searchButton" type="submit" value="过 滤"/>
   </form>
  </td>

</tr>
</table>

<table width="800" border="0" cellspacing="0" cellpadding="1" class="list">
    <tr>
        <th>ID</th>
        <th>缩略图</th>
        <th>描述</th>
        <th>管理</th>
    </tr>
    $for i in privData['IMAGES_LIST']:
    <tr> 
        <td align="center"><a href="$makeUrl('/admin/images/edit',{'id':i.id})" >$:i.id</a></td> 
        <td align="center">
            <a href="$imageUrl(i.uuid)"><img src="data:image/jpeg;base64,$i.thumbnail"/></a>
        </td>
        <td align="center"><a href="$makeUrl('/admin/images/edit',{'id':i.id})" >$subStr(i.description, 0, 16)</a></td>
        <td align="center">
            <a href="$imageUrl(i.uuid)" >查看</a> |
            <a href="$makeUrl('/admin/images/edit',{'id':i.id})" >编辑</a> |
            <a href="$makeUrl('/admin/images/delete',{'id':i.id})" onclick="return confirm('确认删除？')">删除</a>
        </td>
    </tr>
</table>

<nav class="navigation">
    $:privData['PAGE_STRING']
</nav>

<div style="clear: both;"></div>
</div>
</body></html>
