$def with (privData)
<!-- used with jquery.js and thumbnail.select.js  and common.css -->
<div class="insert_thumbnail_widget">
    <div id="insert_thumbnail_list" class="hidden thumbnail_list">
        <label>专辑:&nbsp;&nbsp;</label> <SELECT  id="insert_img_album">
            $for item in privData['ALBUMS_LIST']:
            <option value="$:item.id"
            $if item.id == ['CURRENT_ALBUM']:
                selected="selected"
            >$:item.name</option>
        </SELECT>
        <input type="button" id="insert_select_thumbnail" value="选择"/>
        <input class="hidden" type="button" id="toggle_select_thumbnail" value="选择"/>
        <input type="button" style="float:right" id="reload_insert_thumbnail" value="刷新"></input>
        <b style="float:right">&nbsp;|&nbsp;</b>
        <a href="/admin/images/add" style="float:right" target="_blank">上传</a>

            <p>&nbsp;</p>

        $for album, imgList in privData['IMG_ALBUMS_LIST'].items():

        <div id="insert_thumbnail_list_$:album"
            $if album != privData['CURRENT_ALBUM']:
                class="hidden"
        >
            $ i = 0
            $for k, v in imgList.items():
                $ i = i+1
                $if i%3 == 0:
                    <br/><br/>
                <input type="radio" value="$:privData['IMG_URLS_LIST'][k]" data-img="$:k" name="insert_thumbnail_raido"
                $if k == privData['CURRENT_IMG']: 
                    checked="checked"
                ><img src="$makeUrl('/admin/images/thumbnail',{'id':k})" alt="$:v"/></input>
        </div>
    </div>
</div>
