$def with (privData)
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
$:privData['render'].header(privData)
<body>
$:privData['render'].pageheader(privData)

<h2>回复列表: $privData['QUESTION'].title</h2>
<table width="800" border="0" cellspacing="0" cellpadding="1" class="list">
    <tr>
        <td align="left">
            <a href="$makeUrl('/admin/questions/list')">返回提问列表</a> | 
            <a href="$makeUrl('/admin/questions/answnerAdd', {'question': privData['QUESTION'].id})">新增回复</a>
        </td>
        <td align="right">
            <form id="searchForm" action="$makeUrl('/admin/questions/answnersSearch')" method="post" >
                <input type="text" id="keywords" name="keywords" placeholder="关键字..." value="">
                <input id="searchButton" type="submit" value="过 滤"/>
                <input name="qid" type="hidden" value="$privData['QUESTION'].id"/>
            </form>
        </td>

    </tr>
</table>
<table width="800" border="0" cellspacing="0" cellpadding="1" class="list">
    <tr>
        <th>ID</th>
        <th>用户</th>
        <th>回答时间</th>
        <th>管理</th>
    </tr>
    $for i in privData['ANSWNERS_LIST']:
    <tr>
        <td align="center"><a href="$makeUrl('/admin/questions/answnerEdit',{'id':i.id})" >$i.id</a></td>
        <td align="center"><a href="$makeUrl('/admin/users/edit', {'id':i.owner.id})">$i.owner.name</a></td>
        <td align="center"><a href="$makeUrl('/admin/questions/answnerEdit',{'id':i.id})" >$str(i.created_time)[:16]</a></td>
        <td align="center">
            <a href="$makeUrl('/admin/questions/answnerEdit',{'id':i.id})" >编辑</a> |
            <a href="$makeUrl('/admin/questions/answnerDelete',{'id':i.id})" onclick="return confirm('确认删除？')">删除</a>
        </td>
    </tr>
</table>

<nav class="navigation">
    $:privData['PAGE_STRING']
</nav>


<div style="clear: both;"></div>
</div>
</body></html>
