$def with (privData)

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
$:privData['render'].header(privData)
<body>
$:privData['render'].pageheader(privData)

<h2>修改用户密码</h2>

<form action="/admin/users/savepwd" method="post">
     <table width="750" border="0" cellspacing="0" cellpadding="1" class="addtable">
     <tr>
       <td width="100" scope="col">用户名:</td>
        <td width="608" scope="col"><input id="username" name="username" type="text" readonly="readonly"  value="$:privData['USER_INFO'].name"/></td>
     </tr>
     <!--
     <tr>
       <td width="100" scope="col">旧密码</td>
        <td width="608" scope="col"><input id="oldpwd" name="oldpwd" type="password"/></td>
     </tr>
     -->
     <tr>
       <td width="100" scope="col">新密码</td>
        <td width="608" scope="col"><input id="newpwdone" name="newpwdone" type="password" /></td>
     </tr>
     <tr>
       <td width="100" scope="col">确认新密码:</td>
        <td width="608" scope="col"><input id="newpwdtwo" name="newpwdtwo" type="password"/></td>
     </tr>
       <tr>
         <td colspan="2" scope="col">
         <input name="id" type="hidden" value="$:privData['USER_INFO'].id"/>
         <input type="submit" name="submit" value="修改" id="submits" /></td>
       </tr>

     </table>
      </form>

</body></html>

