$def with (privData)
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
$:privData['render'].header(privData)
<body>
$:privData['render'].pageheader(privData)

<h2>老师列表</h2>
<table width="800" border="0" cellspacing="0" cellpadding="1" class="list">
    <tr>
        <td align="left">
            <a href="$makeUrl('/admin/groups/add')">新增老师</a> 
        </td>
        <td align="right">
            <form id="searchForm" action="$makeUrl('/admin/groups/search')" method="post" >
                <input type="text" id="keywords" name="keywords" placeholder="关键字..." value="">
                <input id="searchButton" type="submit" value="过 滤"/>
            </form>
        </td>
        <td align="right">
            <form id="searchForm" action="$makeUrl('/admin/groups/search_by_category')" method="post" >
                 <select name="category" id="category">
                     $for i in privData['CATEGORIES_LIST']:
                      <option value="$i.id">$i.name</option>
                 </select>
                <input id="searchButton" type="submit" value="按类别过滤"/>

          </form>
        </td>

    </tr>
</table>
<table width="800" border="0" cellspacing="0" cellpadding="1" class="list">
    <tr>
        <th><input type="checkbox" id="selectall"/></th>
        <th>ID</th>
        <th>图片</th>
        <th>名称</th>
        <th>分类</th>
        <th>管理</th>
    </tr>
    $for i in privData['GROUPS_LIST']:
    <tr>
        <td align="center"><input type="checkbox" class="case" name="ids" value="$:i.id"/></td>
        <td align="center"><a href="$makeUrl('/admin/groups/edit',{'id':i.id})" >$i.id</a></td>
        <td align="center">
            <a href="$imageUrl(i.thumbnail.uuid)">
                <img src="$makeUrl('/admin/images/thumbnail',{'id':i.thumbnail.id})"/>
            </a>
        </td>
        <td align="center"><a href="$makeUrl('/admin/groups/edit',{'id':i.id})" >$i.name</a></td>
        <td align="center"><a href="$makeUrl('/admin/categories/edit',{'id':i.category.id})" target="_blank" >$:i.category.name</a></td>
        <td align="center">
            <a href="$makeUrl('/admin/groups/userslist',{'id':i.id})" >学员列表</a> |
            <a href="$makeUrl('/admin/groups/edit',{'id':i.id})" >编辑</a> |
            <a href="$makeUrl('/admin/groups/delete',{'id':i.id})" onclick="return confirm('确认删除？')">删除</a>
        </td>
    </tr>
</table>

<nav class="navigation">
    $:privData['PAGE_STRING']
</nav>


<div style="clear: both;"></div>
</div>
</body></html>
