$def with (privData)

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
$:privData['render'].header(privData)
<body>
$:privData['render'].pageheader(privData)

<h2>编辑课程</h2>
<form action="$makeUrl('/admin/groups/update')" method="post">
    <table width="750" border="0" cellspacing="0" cellpadding="1" class="addtable">
        <tr>
            <td width="100" scope="col">* 课程分类:</td>
            <td width="608" scope="col">
                <SELECT  name="category" id="category">
                    $for item in privData['CATEGORIES_LIST']:
                    <option value="$:item.id"
                    $if item.id == privData['CURRENT_GROUP'].category.id:
                        selected="selected"
                    >$:item.name</option>
                </SELECT>
                <input type="button" style="float:right" id="reload_category" value="刷新"></input>
                <b style="float:right">&nbsp;|&nbsp;</b>
                <a href="/admin/categories/add" style="float:right" target="_blank">新增</a>
            </td>
        </tr>
        <tr>
            <td width="100" scope="col">缩略图:</td>
            <td width="608" scope="col">
                $:privData['render'].thumbnail_select_widget(privData)
            </td>
        </tr>
        <tr>
            <td width="100" scope="col">* 名称:</td>
            <td width="608" scope="col"><input name="name" type="text" value="$privData['CURRENT_GROUP'].name"/></td>
        </tr>
        <tr>
            <td width="100" scope="col">* 联系人:</td>
            <td width="608" scope="col"><input name="contact" type="text" value="$privData['CURRENT_GROUP'].contact"/></td>
        </tr>
        <tr>
            <td width="100" scope="col">* 联系电话:</td>
            <td width="608" scope="col"><input name="phoneno" type="text" value="$privData['CURRENT_GROUP'].phoneno"/></td>
        </tr>
        <tr>
            <td width="100" scope="col">* 教师详情:</td>
            <td colspan="1" scope="col">
                <textarea rows="10" cols="5" name="teaching_team" id="teaching_team">$privData['CURRENT_GROUP'].teaching_team</textarea>
                    <script type="text/javascript" src="$makeUrl('/static/editor/tinyeditor.js')"></script>
                    <link rel="stylesheet" href="$makeUrl('/static/editor/style.css')" />
                    <script type="text/javascript">
                        var instance1=new TINY.editor.edit('editor1',{
                            id:'teaching_team',
                            width:654,
                            height:175,
                            cssclass:'contentls',
                            controlclass:'tecontrol',
                            rowclass:'teheader',
                            dividerclass:'tedivider',
                            controls:['bold','italic','underline','strikethrough','|','subscript','superscript','|', 'orderedlist','unorderedlist','|','outdent','indent','|','leftalign',
                                'centeralign','rightalign','blockjustify','|','unformat','|','undo','redo','print','n',
                                'font','size','style','forecolor','backcolor','|','image','swf','media','upload','|','hr','link','unlink','|','cut','copy','paste'],
                            footer:true,
                            fonts:['楷体','宋体','黑体','Verdana','Arial','Georgia'],
                            xhtml:true,
                            uploadexc:"$makeUrl('/admin/upload')",
                            bodyid:'editor1',
                            footerclass:'tefooter',
                            toggle:{text:'源码',activetext:'视图',cssclass:'toggle'},
                            resize:{cssclass:'resize'}
                            });
                    </script> 
            </td>
        </tr>

        <tr>
            <td width="100" scope="col">* 授课方式:</td>
            <td width="608" scope="col"><input name="teaching_modes" type="text" value="$privData['CURRENT_GROUP'].teaching_modes"/></td>
        </tr>
        <tr>
            <td width="100" scope="col">* 教学特长:</td>
            <td width="608" scope="col"><input name="specials" type="text" value="$privData['CURRENT_GROUP'].specials"/></td>
        </tr>
        <tr>
            <td width="100" scope="col">* 一对一价格:</td>
            <td width="608" scope="col"><input name="price_home_service" type="text" value="$privData['CURRENT_GROUP'].price_home_service"/></td>
        </tr>
        <tr>
            <td width="100" scope="col">* 班教价格:</td>
            <td width="608" scope="col"><input name="price_remote_service" type="text" value="$privData['CURRENT_GROUP'].price_remote_service"/></td>
        </tr>
        <tr>
            <td width="100" scope="col">* 聊天室名称:</td>
            <td width="608" scope="col"><input name="chatroom_name" type="text" value="$privData['CURRENT_GROUP'].chatroom_name"/></td>
        </tr>
        <tr>
            <td width="100" scope="col">滚动图片相册:</td>
            <td width="608" scope="col">
                <SELECT  name="swipeshow_album" id="swipeshow_album">
                    $for item in privData['ALBUMS_LIST']:
                    <option value="$:item.id"
                    $if item.id == privData['CURRENT_GROUP'].swipeshow_album.id:
                        selected="selected"
                    >$:item.name</option>
                </SELECT>
            </td>
        </tr>
        <tr>
            <td width="100" scope="col">相册:</td>
            <td width="608" scope="col">
                <SELECT  name="group_album" id="group_album">
                    $for item in privData['ALBUMS_LIST']:
                    <option value="$:item.id"
                    $if item.id == privData['CURRENT_GROUP'].groups_album.id:
                        selected="selected"
                    >$:item.name</option>
                </SELECT>
            </td>
        </tr>
 
        <tr>
            <td width="100" scope="col">授课区域:</td>
            <td width="608" scope="col"><input name="regions" type="text" value="$privData['CURRENT_GROUP'].regions"/></td>
        </tr>
        <tr>
            <td width="100" scope="col"><a href="#1" onclick="omap.style.display='none';">隐</a>/<a href="#1" onclick="omap.style.display='';">显示</a>地图:</td>
            <td colspan="1" scope="col" id="omap" style="display:none">
                $:privData['render'].map_select_widget(privData)
            </td>
        </tr>

        <tr>
            <td width="100" scope="col">描述:</td>
            <td colspan="1" scope="col">
                <textarea rows="10" cols="5" name="desc" id="desc">$privData['CURRENT_GROUP'].description</textarea>
                    <script type="text/javascript" src="$makeUrl('/static/editor/tinyeditor.js')"></script>
                    <link rel="stylesheet" href="$makeUrl('/static/editor/style.css')" />
                    <script type="text/javascript">
                        var instance2=new TINY.editor.edit('editor2',{
                            id:'desc',
                            width:654,
                            height:175,
                            cssclass:'contentls',
                            controlclass:'tecontrol',
                            rowclass:'teheader',
                            dividerclass:'tedivider',
                            controls:['bold','italic','underline','strikethrough','|','subscript','superscript','|', 'orderedlist','unorderedlist','|','outdent','indent','|','leftalign',
                                'centeralign','rightalign','blockjustify','|','unformat','|','undo','redo','print','n',
                                'font','size','style','forecolor','backcolor','|','image','swf','media','upload','|','hr','link','unlink','|','cut','copy','paste'],
                            footer:true,
                            fonts:['楷体','宋体','黑体','Verdana','Arial','Georgia'],
                            xhtml:true,
                            uploadexc:"$makeUrl('/admin/upload')",
                            bodyid:'editor2',
                            footerclass:'tefooter',
                            toggle:{text:'源码',activetext:'视图',cssclass:'toggle'},
                            resize:{cssclass:'resize'}
                            });
                    </script>
            </td>
        </tr>

        <tr class="hidden">
            <td colspan="2" scope="col"><input type="hidden" readonly="readonly" name="last_insert_image" id="last_insert_image" value="0" /></td>
        </tr>

        <tr>
            <td colspan="2" scope="col">
            <input name="id" type="hidden" value="$:privData['CURRENT_GROUP'].id"/>
            <input type="submit" name="submit" value="保存" id="submits" onmouseover="instance1.post();instance2.post();" />

            </td>
        </tr>
    </table>     
</form>
</body>
</html>

