$def with (privData)
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
$:privData['render'].header(privData)

<body>
<div style="width: 600px; word-wrap: break-word; margin: 20px auto; border: black 4px solid; text-align: center; padding: 20px 4px;background: #EFEFF1;">
<a href="javascript:location.href=' $:privData['JUMP_URL'] ';">$:privData['JUMP_MSG'] (<font id="percent">$:privData['JUMP_TIMEOUT']</font>秒后跳转，点击马上跳转）</a></div>

<script language="javascript">
    var bar=$:privData['JUMP_TIMEOUT'] ;
    function count(){
        bar=bar-1 ;
        document.getElementById("percent").innerHTML=bar;
        if (bar>0){
            setTimeout("count()",1000);
        }else{
            location.href="$:privData['JUMP_URL']";
        }
    }
    count() ;
</script>
</body>
</html>
