$def with (privData)
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
<title>$:privData['NAME']</title>

<script src="$makeUrl('/static/wap/js/mui.min.js')"></script>
<link rel="stylesheet" href="$makeUrl('/static/wap/css/mui.min.css')">
<link rel="stylesheet" href="$makeUrl('/static/wap/css/iconfont.css')">
<link rel="stylesheet" href="$makeUrl('/static/wap/css/one.css')">
<link rel="stylesheet" href="$makeUrl('/static/wap/css/my.css')">
