$def with (privData)
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
$:privData['render'].header(privData)
<body>
$:privData['render'].pageheader(privData)

<h2>修改聊天室</h2>
<form action="/admin/chatrooms/modify" method="post">
    <table width="750" border="0" cellspacing="0" cellpadding="1" class="addtable">
        <tr>
            <td width="100" scope="col">* 标题:</td>
            <td width="608" scope="col"><input name="name" type="text" id="name" value="$privData['CHATROOM'].name" /></td>
        </tr>
        <tr>
            <td colspan="2" scope="col">
                <textarea rows="10" cols="5" name="desc" id="desc">$:privData['CHATROOM'].description</textarea>
            <script type="text/javascript" src="$makeUrl('/static/editor/tinyeditor.js')"></script>
            <link rel="stylesheet" href="$makeUrl('/static/editor/style.css')" />
            <script type="text/javascript">
                var instance=new TINY.editor.edit('editor',{
                    id:'desc',
                    width:740,
                    height:175,
                    cssclass:'contentls',
                    controlclass:'tecontrol',
                    rowclass:'teheader',
                    dividerclass:'tedivider',
                    controls:['bold','italic','underline','strikethrough','|','subscript','superscript','|', 'orderedlist','unorderedlist','|','outdent','indent','|','leftalign',
                        'centeralign','rightalign','blockjustify','|','unformat','|','undo','redo','print','n',
                        'font','size','style','forecolor','backcolor','|','image','swf','media','upload','|','hr','link','unlink','|','cut','copy','paste'],
                    footer:true,
                    fonts:['楷体','宋体','黑体','Verdana','Arial','Georgia'],
                    xhtml:true,
                    uploadexc:"$makeUrl('/admin/upload')",
                    bodyid:'editor',
                    footerclass:'tefooter',
                    toggle:{text:'源码',activetext:'视图',cssclass:'toggle'},
                    resize:{cssclass:'resize'}
                });
            </script>
            </td>
        </tr> 
        
        <tr>
            <td width="100" scope="col">缩略图:</td>
            <td width="608" scope="col">
                $:privData['render'].thumbnail_select_widget(privData)
            </td>
        </tr>        
        <tr>
            <td colspan="2" scope="col">
                <input name="id" type="hidden" value="$:privData['CHATROOM'].id"/>
                <input type="submit" name="submit" value="保存" id="submits" onmouseover="instance.post();" />
            </td>
        </tr>
    </table>
</form>

</body></html>
