$def with (privData)
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
$:privData['render'].header(privData)
<body>
$:privData['render'].pageheader(privData)

<h2>提问列表</h2>
<table width="800" border="0" cellspacing="0" cellpadding="1" class="list">
    <tr>
        <td align="left">
        </td>
        <td align="right">
            <form id="searchForm" action="$makeUrl('/admin/questions/search')" method="post" >
                <input type="text" id="keywords" name="keywords" placeholder="关键字..." value="">
                <input id="searchButton" type="submit" value="过 滤"/>
            </form>
        </td>

    </tr>
</table>
<table width="800" border="0" cellspacing="0" cellpadding="1" class="list">
    <tr>
        <th>ID</th>
        <th>标题</th>
        <th>公司</th>
        <th>用户</th>
        <th>管理</th>
    </tr>
    $for i in privData['QUESTIONS_LIST']:
    <tr>
        <td align="center">$i.id</td>
        <td align="center"><a href="$makeUrl('/admin/questions/detail',{'id':i.id})" >$i.title</a></td>
        <td align="center"><a href="$makeUrl('/admin/groups/edit', {'id':i.group.id})">$i.group.name</a></td>
        <td align="center"><a href="$makeUrl('/admin/users/edit', {'id':i.owner.id})">$i.owner.name</a></td>
        <td align="center">
            <a href="$makeUrl('/admin/questions/detail',{'id':i.id})" >问题详情</a> |
            <a href="$makeUrl('/admin/questions/answners',{'id':i.id})" >答复</a> |
            <a href="$makeUrl('/admin/questions/delete',{'id':i.id})" onclick="return confirm('确认删除？')">删除</a>
        </td>
    </tr>
</table>

<nav class="navigation">
    $:privData['PAGE_STRING']
</nav>


<div style="clear: both;"></div>
</div>
</body></html>
